<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <form wicket:id="antrag">
        <div class="form-group">
            <label wicket:for="nachname">
                <wicket:label/>
            </label>
            <input wicket:id="nachname" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label wicket:for="vorname">
                <wicket:label/>
            </label>
            <input wicket:id="vorname" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label wicket:for="geburtsdatum">
                <wicket:label/>
            </label>
            <input wicket:id="geburtsdatum" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label wicket:for="postleitzahl">
                <wicket:label/>
            </label>
            <input wicket:id="postleitzahl" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label wicket:for="ort">
                <wicket:label/>
            </label>
            <input wicket:id="ort" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label wicket:for="strasse">
                <wicket:label/>
            </label>
            <input wicket:id="strasse" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label wicket:for="telefonnummer">
                <wicket:label/>
            </label>
            <input wicket:id="telefonnummer" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label wicket:for="email"><wicket:label/></label>
            <input wicket:id="email" type="text" class="form-control"/>
        </div>
    </form>
</wicket:panel>
</body>
</html>